body{
    margin: 0;
    padding: 0;
    background-color: cornflowerblue;
}
.header .navbar{
    background-color: aqua ;
    display: flex;
    flex-direction: row;
}
.header .navbar a img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-left: 50px;
    margin-top: 10px;
}
.header .navbar h2{
    margin-left: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
.header .navbar .judul{
    margin-left: 30%;
    font-family: Arial, Helvetica, sans-serif;
}
.kotak{
    width: 80%;
    height: auto;
    box-shadow: 4px 4px ;
    margin: 20px 10% 10%;
    background-color: cadetblue;
    border-radius: 10px;
}
.kotak p{
    margin-left: 10px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.judul2{
    margin-left: 20px;
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.input{
    padding-left: 10px;
    margin-bottom: 20px;
}
.kotak .judul3{
    margin-left: 20px;
    
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.input2{
    padding-left: 10px;
    margin-bottom: 5px;
}
.button{
    display: inline-block;
    padding-bottom: px;
    padding-left: 10px;
}
h3{
    margin-left: 20px;
    padding-bottom: 15px;
}
@media (max-width : 768px){
    .header .navbar a img{
        width: 50px;
        height: 50px;
        border-radius: 100%;
        margin-left: 15px;
        margin-top: 10px;
    }
}